
<!--
<div>
    <input type=text [(ngModel)] = nom/>
</div>
<p>
<div>
    Bonjour {{nom}}
</div>
-->
<form #monForm=ngForm (ngSubmit)=ajouterPersonne()>
    <div>
        Nom    : <input type=text name=nom [(ngModel)]=personne.nom required #nom="ngModel">
    </div>  
    <div [hidden]="nom.valid || nom.pristine">
        Le nom est Obligatoire

    </div>
   
    <div> 
        Prenom : <input type=text name=prenom [(ngModel)]=personne.prenom required #prenom="ngModel"> 
        
    </div>
    <div [hidden]="prenom.valid || prenom.pristine" >
        Le Prenom est Obligatoire
    </div>
<!--
    <div>
        <ul>
            <ng-container *ngFor="let element of personnes;">
            <li >
                {{ element.nom }}
                {{ element.prenom }}
            </li>
            </ng-container>
            </ul>
    </div>
-->
<!--OU-->
<div class="container" style="margin-top: 15px;">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let personne of personnes">
            {{ personne.nom }} {{ personne.prenom }}
            <button type="submit" class="btn btn-default" (click)="supprimerPersonne(personne)">
                supp
            </button>
        </li>
    </ul>
</div>
<div>
        <button [disabled]=!monForm.valid >
            Ajouter
        </button>
    </div>
</form>
